<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<body>
<div th:each="book : ${books}">
    <a>Book name: </a>
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getNameOfBook()}"></a>
    <a>, Author of book: </a>
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getAuthorOfBook()}"></a>
    <a>, Year of writing book: </a>
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getYearOfWritingBook()}"></a>
</div>

<br/>
<hr/>
<a href="/books/new">Add new book</a>

</body>
</html>