<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<a>ФИО: </a>
<a th:text="${person.getFullName()}">Value</a>
<br/>
<a>Год рождения: </a>
<a th:text="${person.getYearOfBirth()}">Value</a>
<br/>
<br/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Изменить человека</a>
<br/>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить человека"/>
</form>
</body>
</html>